body{
	background-color: white;
}

.title h1{
	padding: 60px 0 60px 0;
	margin: 0;
	text-align: center;
	color: #171814;
	background-color: white;
	font-family: "Museo Slab", univers, helvetica, sans-serif;
	font-size: 45px;
	font-weight: 700;
}

.para{
	max-width: 510px;
	padding: 20px 0 15px 0;
	margin: 0 auto 0px auto;
	background-color: #E6E6E6;
	color: #333333;
	font-size: 17px;
	border-radius: 5px;
	font-family: "Museo Slab", univers, helvetica, sans-serif;
	font-weight: 100;
}

.para-box{
	margin: 0;
	padding: 0 0;
	background-color: #E6E6E6;
	box-shadow: 0 2px 3px #D6D4D6,  0 -2px 3px #D6D4D6;
}

.para-two{
	text-align: center;
	margin: 0 auto 40px auto;
	padding: 0 0 20px 0;
	color: #333333;
	font-size: 17px;
	font-family: "Museo Slab", univers, helvetica, sans-serif;
	font-weight: 100;
}

h3{
	font-family: "Museo Slab", univers, helvetica, sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: left;
	padding-left: 20px;
}

option{
	text-align: center;
	font-family: "Museo Slab", univers, helvetica, sans-serif;
	font-weight: 100;
}

.styled-select {
   background-color: white;
   width: 200px;
   padding: 5px;
   margin-bottom: 15px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 2px;
   height: auto;
   text-align: center;
   -webkit-appearance: none;
   }

.btn-default{
	padding: 15px 30px;
	font-family: "Museo Slab", univers, helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	border: 2px solid #818181;
	color: white;
	background-color: #999999;
}

.btn-default:hover{
	background-color: #818181;
	border: 2px solid #636363;
	color: white;
}

.submit-btn{
	margin: 20px 0 0 0;
}


.form{
	max-width: 300px;
	padding: 10px 30px 30px;
	margin: -15px auto 5px;
	background-color: #E6E6E6;
	border: 2px dashed #D6D4D6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-align: center;
}
